<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link href="/stylesheets/pocetna_kupac.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <% if (typeof (first_login) !=='undefined' && first_login===true) { %>
        <script src="https://unpkg.com/@yaireo/tagify"></script>
        <script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
        <link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
        <% } %>
</head>

<body>


    <%- include('../partials/kupac_hm.ejs') %>

        <div class="px-4 py-1 my-5 ">
            <div class="col-lg-10 mx-auto">
                <div class="album py-2">
                    <div class="container">

                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">


                            <% for(let i=0;i<artikli.length;i++){ %>

                                <div class="col">
                                    <div class="card shadow-sm">
                                        <a href="/artikal/<%= artikli[i].id_artikla %>">
                                            <img class="bd-placeholder-img card-img-top" width="100%" height="200"
                                                src='/data/uploads/<%= artikli[i].thumbnail %>' role="img"
                                                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                                focusable="false">
                                            <title></title>
                                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%"
                                                fill="#eceeef" dy=".3em"></text>
                                            </img>
                                        </a>
                                        <div class="card-body">
                                            <p class="card-text">
                                                <%= artikli[i].naziv_artikla %>

                                            </p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <%= artikli[i].cijena %> KM
                                                </div>
                                                <small class="text-muted">4.5/5</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <% } %>




                        </div>
                    </div>
                </div>

            </div>

        </div>


        <% if(typeof (first_login) !=='undefined' && first_login===true) {%>
            <%- include('../partials/modal_za_interese.ejs')%>
                <% } %>

                    <script>
                        (function () {
                            'use strict'

                            document.querySelector('#navbarSideCollapse').addEventListener('click', function () {
                                console.log("Open");
                                document.querySelector('.offcanvas-collapse').classList.toggle('open')
                            })
                        })()

                        $(window).on('load', function () {
                            $('#staticBackdrop').modal('show');
                        });
                    </script>
                    <% if (typeof (first_login) !=='undefined' && first_login===true) { %>
                        <script>
                            var input = document.querySelector('input[name=basic]');

                            // initialize Tagify on the above input node reference
                            var tg_input = new Tagify(input);
                            $('input[name=basic]').on('change', (event) => {
                                console.log("promjena")
                                event.preventDefault();
                                if ($('input[name=basic]').val().length > 0) {
                                    $('#nextButton').attr('disabled', false);
                                } else {
                                    $('#nextButton').attr('disabled', true);
                                }
                            });

                            const posaljiInterese = () => {
                                $.post("/pocetna/interesi",
                                    {
                                        tagovi: JSON.stringify(tg_input.value),
                                    },
                                    function (data, status) {
                                        if (status == 'success') {
                                            location.reload();
                                        }
                                        else {
                                            console.log("greska kategorije");
                                            // doslo je do greske
                                        }

                                    });
                            };

                        </script>
                        <% } %>
</body>

</html>