<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <!-- JQUERY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <!-- FONT AWESOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- TOASTR -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  <link href="/stylesheets/pocetna_kupac.css" rel="stylesheet">

  <style>
  </style>

</head>

<body>

  <%- include('../partials/admin_hm.ejs') %>
    <br><br>


    <div class="px-2 py-1 my-5 ">
      <div class="col-lg-11 mx-auto">
        <div class="album py-2">
          <div class="container">

            <div class=" bg-white">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Kategorije
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">



                      <div class="input-group mb-3 mb-4">
                        <input type="text" id="novaKategorija" class="form-control"
                          aria-label="Text input with dropdown button">
                        <button onclick="dodajKategoriju()" type="button" class="btn btn-primary">Dodaj
                          kategoriju</button>

                      </div>


                      <div class="row justify-content-md-left" id="kategorije">
                        <% for( let index=0; index < kategorije.length; index++ ) { %>
                          <div class="col-3 mt-2" id="kategorija<%= kategorije[index].id_kategorije %>">
                            <div class="list-group position-relative" id="list-tab" role="tablist">
                              <a class="list-group-item list-group-item-action p-4 text-center text-wrap fw-bold"
                                id="list-home-list" data-toggle="list"
                                href="/pocetna/kategorije/<%= kategorije[index].id_kategorije %>" role="tab"
                                aria-controls="home">
                                <%= kategorije[index].naziv_kategorije %>

                              </a>
                              <button type="button"
                                class="btn-close position-absolute top-0 start-100 translate-middle p-2  border border-light rounded-circle"
                                aria-label="Close" style="left:80%"
                                onclick="ukloniKategoriju('<%= kategorije[index].id_kategorije %>')"></button>
                            </div>

                          </div>
                          <% } %>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Gradovi
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <div class="input-group mb-3 mb-4">
                          <input type="text" id="novaKategorija" class="form-control"
                            aria-label="Text input with dropdown button">
                          <button onclick="dodajKategoriju()" type="button" class="btn btn-primary">Dodaj
                            grad</button>

                        </div>
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Kanton</th>
                              <th scope="col">Grad</th>
                              <th scope="col">Ukloni</th>
                            </tr>
                          </thead>
                          <tbody id="gradovi">
                            <% for( let i=0; i < grad.length; i++ ) { %>
                              <tr id="grad<%= grad[i].id_grada %>">
                                <td>
                                  <%= kanton[grad[i].kanton] %>
                                </td>
                                <td>
                                  <%= grad[i].naziv_grada %>
                                </td>
                                <td><button type="button"
                                    class="btn-close  translate-middl p-2  border border-light rounded-circle"
                                    aria-label="Close" style="left:80%"
                                    onclick="izbrisiGrad('<%= grad[i].id_grada %>')"></button>
                                </td>
                              </tr>
                              <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Accordion Item #3
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                        collapse plugin
                        adds the appropriate classes that we use to style each element. These classes control the
                        overall
                        appearance, as
                        well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS
                        or
                        overriding our
                        default variables. It's also worth noting that just about any HTML can go within the
                        <code>.accordion-body</code>, though the transition does limit overflow.
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>


      <script src="/javascripts/administrator.js"></script>
</body>

</html>